* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:hsl(212, 23%, 69%);
}
.main {
    display: block;
    width: 80%;
    margin: 10vw 10vw;
    height: auto;
    background-color: white;
    border-radius: 20px;
}
.image img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    display: block;
}
.content {
    margin: 10%;
    font-size: 15px;
}
.content p {
    margin: 15px 0;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10%;
    padding-bottom: 5%;
}
.footer-infor {
    display: flex;
    grid-column: 1/3;
}
.footer h1 {
    display: flex;
    flex-direction: column;
    font-size:15px;
    margin-left: 10px;
}
.footer h1 span {
    font-weight: normal;
    color: rgb(119, 130, 133);
    margin-top: 5px;
}
.footer img {
    width: 20%;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}
.box-button {
    display: flex;
    justify-content: flex-end;
}
.footer button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: hsl(213, 56%, 83%);
    background-image: url("images/icon-share.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
.container {
    position: absolute;
    display: flex;
    opacity: 0;
    visibility:  hidden;
    width: 80%;
    right: 10%;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: hsl(217, 19%, 35%);
    transition: all 0.3s ease;
}
.container p {
    font-size: 20px;
    padding: 12% 0;
    color: rgb(183, 206, 228);
}
.container a {
    width: 30px;
    height: 30px;;
}
#facebook {
    background-image: url("images/icon-facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}
#twitter {
    background-image: url("images/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}
#pinterest {
    background-image: url("images/icon-pinterest.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
}
@media (min-width: 768px) {
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 0;
    }
    .image {
        background-image: url('images/drawers.jpg');
        background-position: center;
        background-repeat: no-repeat;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .footer {
        align-items: center;
    }
    .footer-infor {
        display: flex;
        grid-column: 1/3;
        align-items: center;
    }
    .container {
        width: 230px;
        height: 50px;
        border-radius: 20px;
    }
    .container::after {
        content: "";
        position: absolute;
        bottom: -10px;   /* đẩy xuống dưới box */
        left: 50%;       /* canh giữa box */
        transform: translateX(-50%); /* dịch để đúng giữa */
        /* tạo tam giác */
        width: 0;
        height: 0;
        border-left: 10px solid transparent; 
        border-right: 10px solid transparent;
        border-top: 10px solid #48556a; /* màu giống nền box */
    }
}